<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DisableConstraints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18F87ED81D36D50F001F9538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F87EEC1D36D50F001F9538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F87EF71D36D50F001F9538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
