<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dynamic-meal-table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1822CED61CB7DC9C00C9E6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822CEEA1CB7DC9C00C9E6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1822CEF51CB7DC9C00C9E6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
